<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.server.core.infra.mapper.EmailServerConfigMapper">
    <select id="getEmailServerConfigById" resultType="com.zy.server.core.domain.entity.email.EmailServerConfig">
        SELECT esd.ID,
               esd.EMAIL_SERVICE_NAME,
               esd.EMAIL_SERVICE_HOST,
               esd.EMAIL_SERVICE_PORT,
               esd.EMAIL_SERVICE_PROTOCOL,
               esd.EMAIL_SERVICE_DEFAULT_ENCODING
        FROM EMAIL_SERVER_CONFIG_DB esd
        WHERE esd.ID = #{id}
    </select>
</mapper>